<p>depart works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    input:hover , select:hover{
    border: 1px solid rgb(142, 142, 142);
    border: 1px solid rgb(178, 206, 255);
    background-color: rgb(232, 240, 254);
}
.xx{
            border-radius: 22px;
            border: 2px solid rgb(11, 11, 11);
            width: 180px;
            /* height: 200px; */
        }
ul ,li {
        list-style-type: none;
        }
.av{
            border-radius: 6px;
            width: 600px;
        }
p{
  font-family: 'Times New Roman', Times, serif;
}
</style>

</head>
<body>

        <!------------------------------------ Formulaire de départ--------------------------- -->
        <div class=" container bg-light av pt-1 pb-2">
          <p class="TEXT text-center fs-1 mt-2 ">Départ</p>
          <hr class="text-black" size="4">

          <form action="" method="" id="form_depart" name="form_depart" autocomplete="on" class="row  mt-4 me-2 ms-2 pb-2 " onsubmit="return valider()">

              <!-- input date de depart  -->
              <label for="date_depart" class="col-sm-6 col-form-label "> Date de départ </label>
              <div class="col-sm-6 mb-4">
                  <input type="date" class="form-control " id="date_depart" name="date_depart">
              </div>

              <!-- input dernier jour travaillé de depart  -->
              <label for="dernier_jour_travaillé" class="col-sm-6 col-form-label ">Dernier jour travaillé </label>
              <div class="col-sm-6 mb-4">
                  <input type="date" class="form-control" id="dernier_jour_travaillé" name="dernier_jour_travaillé" >
              </div>

              <!-- input motif de départ -->
              <label for="motif_depart" class="col-sm-6 col-form-label ">Motif de départ</label>
              <div class="col-sm-6 mb-4">
                  <select class="form-select" id="motif_depart" name="motif_depart">
                      <option selected>Motif</option>
                      <option value="m2">motif 1</option>
                      <option value="m1">motif2</option>
                  </select>
              </div>

              <!-- input de reemployer -->
              <label for="reemployer" class="col-sm-6 col-form-label">Voulez-vous le réemployer ?<span  class="text-danger"> *</span></label>
              <div class="col-sm-6 mb-4">
                  <select class="form-select" id="reemployer" name="reemployer" required>
                      <option value="none" selected>Oui / Non</option>
                      <option value="1">Oui</option>
                      <option value="0">Non</option>
                  </select>
              </div>

              <!-- button sumit reset -->
              <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4 mb-2">
                  <input class="btn btn-outline-info me-md-2 col-3 depart" type="submit" name="submit" id="submit" value="Valider">
                  <input class="btn btn-outline-danger col-3" type="reset" name="reset" id="reset" value="Annuler">
              </div>
          </form>

      </div>


      <script>

          $(document).ready(function(){

            var reemployer = $("#reemployer");
            var date_depart = Date.parse(document.getElementById('date_depart').value);
            var dernier_jour_travaillé = Date.parse(document.getElementById('dernier_jour_travaillé').value);
            var motif_depart = $("#motif_depart");
            var bool1=true;
            var bool2=true;

              $("#submit").click(function valider(){

          // validation du chap de reemployement
                  $("small").remove();

                  $("#reemployer").removeClass("is-invalid")
                  $("#reemployer").removeClass("is-valid")

                  if(reemployer.val()=="none"){
                      $("#reemployer").addClass("is-invalid");
                      $("#reemployer").after("<i ><small class='ms-3 mb-4 text-danger'  >Veuillez renseigner ce champ</small></i>");
                      bool1= false;
                  }
                  else{
                      $("#reemployer").addClass("is-valid");
                      bool1= true;
                  }

                  return bool;
              });
                  });

            $(document).ready(function(){

                $("#reset").click(function(){

                $("small").remove();
                $("i").remove();

                $("#reemployer").removeClass("is-invalid")
                $("#reemployer").removeClass("is-valid")

              })


            })

</script>

</body>
</html>
